<!DOCTYPE html>
  <html>
    <head>
      <meta charset="UTF-8">
			<title>iNeedCoffee!</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <link type="text/css" rel="stylesheet" href="landing.css"/>
    </head>
    <body>
      <div class = "header">
        <h1 style = "margin-top:0;">iNeedCoffee!</h1>
      </div>
      <div class="ownerButton">
        <form action="ownerReg.html" method = post>
          <button class="button">Owners Registration</button>
        </form>
      </div>
      <div class="agentButton">
        <form action="agentReg.html" method = post>
          <button class="button">Agents Registration</button>
        </form>
      </div>

    </body>
  </html>
