html, body {
  margin: 0;
  padding: 0;
  height:100%;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.header{
	width: 100%;
  height:10%;
  padding-left: 3%;
  padding-top: 20px;
	background-color: #dc143c;
  color: white;
}

.outerLeft{
	width:60%;
	float:left;
	background-color:white;
	overflow:hidden;
}

.outerRight{
	overflow:hidden;
	width:40%;
	float:left;
	background-color:white;
	margin: 0 auto;
}

.chatMsg{
	overflow-x:hidden;
	height:75%;
}

.sendText{
	margin: 0 auto;
	width:90%;
	height:25%;
}

.msg{
	border:2px solid #dedede;
	border-radius: 10px;
    padding: 10px;
    margin: 2% 2% 2% 2%;
    width: 95%;
    height: 70px;
    box-sizing: border-box;

}

.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 10px;
    height: 8%;
    margin: 3% 5% 3% 5%;
}

.progressBar {
  list-style: none;
  font-size: 20pt;
}
.progressBar li {
  border-left: 0.3em solid green;
  padding: 0 0 2.0em 1em;
  position: relative;
}
.progressBar li::before {
  content: '\25B6'	;
  color: dimgray;
  font-size: 1.0em;
  position: absolute;
  left: -.1em;
}

.complete{
  color: green;
}

.inProgress{
  color: red;
}
