/* Styles */
#app, html, body{
  font-family: "Lucida Sans Unicode", "Lucida Grande";
  color: #4d4d4d;
  width: 100%;
  height: 100%;
  overflow: hidden;
  
}

a.active {
  color: orange;
}

nav {
  padding-top: 20px;
}
