<!DOCTYPE html>
	<html>
		<head>
			<style>
				table, td, th {
					border: 1px solid black;
					padding: 15px;
					text-align: center;
				}

				table {
					margin-top: 30%;
					border-collapse: collapse;
				}

				th {
					height: 50px;
				}
			</style>
			<meta charset="UTF-8">
			<title>Owner Registration</title>

			  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <link type="text/css" rel="stylesheet" href="ownerReg.css"/>
    </head>
		<body>
			<div class = 'header'>
				<h1 style = "margin-top:0;">iNeedCoffee!</h1>
			</div>
      <div class = "outer" style = "width:100%; height: 94%; margin:0;">
				<div class = "ownerInfo">
          <div class = "ownerContent">
            <form action="ownerList.html">
              <h4>PERSONAL INFORMATION</h4>
              <br>
              <br>
              <label>First Name:</label><input type="text" name="firstname" id = "firstname"/>
              <br>
              <label>Last Name:</label><input type="text" name="lastname" id = "lastname"/>
              <br>
              <label>Email Address:</label><input type="text" name="email" id = "email"/>
              <br>
              <label>Work Phone:</label><input type="text" name="phone" id = "phone" />
							<br>
							<button type = "submit" id = "sub" onclick = "submitInfo()"> &emsp;Next!&emsp; </button>
            </form>
          </div>

  			</div>
  		<script>
  			function submitInfo(){
  				var firstname = document.getElementById('firstname');
  				localStorage.setItem("firstName", firstname.value);
  				var lastname = document.getElementById('lastname');
  				localStorage.setItem("lastname", lastname.value);
  				var email = document.getElementById('email');
  				localStorage.setItem("email", email.value);
  				var phone = document.getElementById('phone');
  				localStorage.setItem("phoneNum", phone.value);

  				//console.log(localStorage.getItem("email"));
  				firstname.value = "";
  				lastname.value= "";
  				email.value = "";
  				phone.value = "";

  				var l1 = document.getElementById('l1');
  				localStorage.setItem("location1", l1.value);
  				var l2 = document.getElementById('l2');
  				localStorage.setItem("location2", l2.value);
  				var l3 = document.getElementById('l3');
  				localStorage.setItem("location3", l3.value);

  				var rent = document.getElementById('rent');
  				localStorage.setItem("rent", rent.value);

  				var pop = document.getElementById('pop');
  				localStorage.setItem("pop", pop.value);

  				var prx = document.getElementById('prx');
  				localStorage.setItem("prx", prx.value);

  						var othr = document.getElementById('othr');
  				localStorage.setItem("othr", othr.value);

  			}
  		</script>
        <div class="ownerPreferences">
        	<br>
		  <div class="vertical-menu" id="accordion" >

		    <div class="panel panel-default" style = "margin-bottom: 5%;">
		      <div class="panel-heading" >
		        <h4 class="panel-title" style = "text-align:center; ">
		          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Location Preference</a>
		        </h4>
		      </div>
		      <div id="collapse1" class="panel-collapse collapse">
		        <div class="panel-body">
		        	<h5 style = "text-align:center;"> Let's Start! Input three preferred locations for starting your business. </h5>
			        	 <div class = "col-xs-11">
					        <div class="form-group" style = "margin: 0 auto;">
							  <h6>&emsp;Location:</h6>
							  <input type="text" class="form-control" id="l1">
							  <h6>&emsp;Location:</h6>
							  <input type="text" class="form-control" id="l2">
							  <h6>&emsp;Location:</h6>
							  <input type="text" class="form-control" id="l3">
							</div>
						</div>

		        </div>
		      </div>
		    </div>
		    <div class="panel panel-default" style = "margin-bottom: 5%;">
		      <div class="panel-heading">
		        <h4 class="panel-title" style = "text-align:center;">
		          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Rent</a>
		        </h4>
		      </div>
		      <div id="collapse2" class="panel-collapse collapse">
		        <div class="panel-body">
		        	<h5 style = "text-align:center;"> Input your appropriate rent preference($/month) </h5>
			        	 <div class = "col-xs-11">
					        <div class="form-group">
							  <h6 >&emsp;Rent:</h6>
							  <input type="text" class="form-control" id="rent">
							</div>
						</div>

		        </div>
		      </div>
		    </div>
		    <div class="panel panel-default" style = "margin-bottom: 5%;">
		      <div class="panel-heading">
		        <h4 class="panel-title" style = "text-align:center;">
		          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Population</a>
		        </h4>
		      </div>
		      <div id="collapse3" class="panel-collapse collapse">
		        <div class="panel-body">
		        <h5 style = "text-align:center;"> Select your appropriate population preference </h5>
			        <div class = "col-xs-11">
					        <div class="form-group">
							  <h6 >&emsp;Population:</h6>
							  <input type="text" class="form-control" id="pop">
							</div>
						</div>
		        </div>
		      </div>
		    </div>

		    <div class="panel panel-default" style = "margin-bottom: 5%;">
		      <div class="panel-heading">
		        <h4 class="panel-title" style = "text-align:center;">
		          <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Proximity to University</a>
		        </h4>
		      </div>
		      <div id="collapse4" class="panel-collapse collapse">
		        <div class="panel-body">
		         <h5 style = "text-align:center;"> Select your appropriate proximity preference (miles) </h5>
			         <div class = "col-xs-11">
					        <div class="form-group">
							  <h6 >&emsp;Proximity to University:</h6>
							  <input type="text" class="form-control" id="prx">
							</div>
						</div>
		        </div>
		      </div>
		    </div>

		    <div class="panel panel-default" style = "margin-bottom: 5%;">
		      <div class="panel-heading">
		        <h4 class="panel-title" style = "text-align:center;">
		          <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">Other Preferences</a>
		        </h4>
		      </div>
		      <div id="collapse5" class="panel-collapse collapse">
		        <div class="panel-body">
		         <h5 style = "text-align:center;"> Anything else I should keep into account?</h5>
			      <div class = "col-xs-11">
					        <div class="form-group">
							  <h6 >&emsp;Enter Extra Preferences Below:</h6>
							  <input type="text" class="form-control" id="othr">
							</div>
						</div>
		        </div>
		      </div>
		    </div>


		</div>
      </div>
		</body>
	</html>
